@helper ExitesSession()
{
	if (@Session["user"] == null)
	{
		<h2 class="am-text-right am-padding-top-lg">
			我要说两句，<a href="#" style="color:sandybrown;" id="alogin" class="am-text-warning">请先登陆</a>
		</h2>
	}
}

<!-- 广告 -->
<div class="ads">
	<div class="cg">
		<img src="../images/demo3.jpg" />
	</div>
</div>

<!-- 文章 -->
<div class="comarticle">
	<div class="cg">

		<!-- 文章标题和内容 -->
		<div class="am-u-sm-12">
			<div class="comarticle-right info-container">
				<article class="am-article">
					<div class="am-article-hd">
						<h1 class="am-article-title" id="title">@Model.title</h1>
						<p class="am-article-meta">
							作者：<span id="author">@Model.author</span> &nbsp;&nbsp;
							发布人：<span id="uname">@Model.nname</span> &nbsp;&nbsp;
							时间：<span id="ptime">@Model.ptime</span> &nbsp;&nbsp;
						</p>
					</div>
					<div class="am-article-bd" id="Article">
						<p>
							@Html.Raw(@Model.ahtml)
						</p>
					</div>
				</article>
			</div>
		</div>
		<div class="am-cf"></div>

		<!-- 评论列表 -->
		<div class="am-u-sm-12 am-comments-list">
			<h2 class="am-text-right am-padding-top-lg">
				评论 <span class="am-badge am-round am-badge-success" id="total">56</span>
			</h2>
			<hr />
			<div id="comments">


				<article class="am-comment">
					<!-- 评论容器 -->
					<a href="">
						<!-- 评论者头像 -->
						<img src="../images/face.jpg" class="am-comment-avatar" alt="" />
					</a>

					<div class="am-comment-main">
						<!-- 评论内容容器 -->
						<header class="am-comment-hd">
							<!--<h3 class="am-comment-title">评论标题</h3>-->
							<div class="am-comment-meta">
								<!-- 评论元数据 -->
								<a class="am-comment-author">张三</a> <!-- 评论者 -->
								评论于 <time datetime="">2017-08-09</time>
							</div>
						</header>
						<!-- 评论内容 -->
						<div class="am-comment-bd">
							好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
						</div>
					</div>
				</article>

				<article class="am-comment">
					<!-- 评论容器 -->
					<a href="">
						<!-- 评论者头像 -->
						<img src="../images/face.jpg" class="am-comment-avatar" alt="" />
					</a>

					<div class="am-comment-main">
						<!-- 评论内容容器 -->
						<header class="am-comment-hd">
							<!--<h3 class="am-comment-title">评论标题</h3>-->
							<div class="am-comment-meta">
								<!-- 评论元数据 -->
								<a class="am-comment-author">张三</a> <!-- 评论者 -->
								评论于 <time datetime="">2017-08-09</time>
							</div>
						</header>
						<!-- 评论内容 -->
						<div class="am-comment-bd">
							好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
						</div>
					</div>
				</article>

				<article class="am-comment">
					<!-- 评论容器 -->
					<a href="">
						<!-- 评论者头像 -->
						<img src="../images/face.jpg" class="am-comment-avatar" alt="" />
					</a>

					<div class="am-comment-main">
						<!-- 评论内容容器 -->
						<header class="am-comment-hd">
							<!--<h3 class="am-comment-title">评论标题</h3>-->
							<div class="am-comment-meta">
								<!-- 评论元数据 -->
								<a class="am-comment-author">张三</a> <!-- 评论者 -->
								评论于 <time datetime="">2017-08-09</time>
							</div>
						</header>
						<!-- 评论内容 -->
						<div class="am-comment-bd">
							好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
						</div>
					</div>
				</article>

				<article class="am-comment">
					<!-- 评论容器 -->
					<a href="">
						<!-- 评论者头像 -->
						<img src="../images/face.jpg" class="am-comment-avatar" alt="" />
					</a>

					<div class="am-comment-main">
						<!-- 评论内容容器 -->
						<header class="am-comment-hd">
							<!--<h3 class="am-comment-title">评论标题</h3>-->
							<div class="am-comment-meta">
								<!-- 评论元数据 -->
								<a class="am-comment-author">张三</a> <!-- 评论者 -->
								评论于 <time datetime="">2017-08-09</time>
							</div>
						</header>
						<!-- 评论内容 -->
						<div class="am-comment-bd">
							好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
						</div>
					</div>
				</article>

				<article class="am-comment">
					<!-- 评论容器 -->
					<a href="">
						<!-- 评论者头像 -->
						<img src="../images/face.jpg" class="am-comment-avatar" alt="" />
					</a>

					<div class="am-comment-main">
						<!-- 评论内容容器 -->
						<header class="am-comment-hd">
							<!--<h3 class="am-comment-title">评论标题</h3>-->
							<div class="am-comment-meta">
								<!-- 评论元数据 -->
								<a class="am-comment-author">张三</a> <!-- 评论者 -->
								评论于 <time datetime="">2017-08-09</time>
							</div>
						</header>
						<!-- 评论内容 -->
						<div class="am-comment-bd">
							好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害，好厉害。
						</div>
					</div>
				</article>
			</div>
		</div>
		<!-- 评论翻页 -->
		<div id="demo7"></div>

		<!-- 我要说两句 -->
		<div class="am-u-sm-12 am-comments-list">
			@*<h2 class="am-text-right am-padding-top-lg">
				我要说两句，<a href="login.html" class="am-text-warning">请先登陆</a>
			</h2>*@
			@ExitesSession()
			<hr />


			<!-- 富编辑器-Begin -->
			<textarea id="demo" style="display: none;"></textarea>
			<!-- 富编辑器-End -->
			<p class="am-align-right">
				<button class="am-btn am-btn-success">提交</button>
			</p>
		</div>
		<div class="user-div" id="d1" style="display:none">
			<ul>
				<li></li>
				<li><i>&#xe681;</i><input type="text" title="用户名" name="uname" id="uname1" value="" placeholder="请输入用户名" /></li>
				<li></li>
				<li><i>&#xe680;</i><input type="password" title="用户密码" name="upwd" id="upwd" value="" placeholder="请输入密码" /></li>
			</ul>
		</div>
	</div>
</div>
@section js{
	<script>
		function Todate(v) {
			var str = parseFloat(v.substr(6));
			var t = new Date(str);
			return t.getFullYear() + "-" + (t.getMonth() + 1) + "-" + t.getDate() + " " + t.getHours()+ ":" + t.getMinutes();
		}
	
		$(function () {


			//评论分页
			var pageval = 1;//页码
			var curr = 1;//跳页
			GetDate(pageval);
			function GetDate(pageval) {
				$.post("/Index/Page", { "aid":@Request.QueryString["aid"], "page": pageval, "rows": 5 }, function (d) {
					if (d != null) {
						//评论容器
						$("#total").text(d.total);//评论条数
						var comments = $("#comments");
						$("#comments").empty();
						if (d.Comments != null) {

							$.each(d.Comments, function (k, v) {
								var d1 = $("<article class='am-comment'></article>");
								var a1 = $("<a href='#'>").appendTo(d1);
								$("<img src='../" + v.face + "' class='am-comment-avatar' alt='' />").appendTo(a1);
								var d2 = $("<div class='am-comment-main'></div>").appendTo(d1);
								var h1 = $("<header class='am-comment-hd'></header>").appendTo(d2);
								var d3 = $("<div class='am-comment-meta'></div>").appendTo(h1);
								$("<a class='am-comment-author'>" + v.nname + "</a>").appendTo(d3);
								$("<p></p>").text("评论于:" + Todate(v.cmtime)).appendTo(d3);
								$("<div class='am-comment-bd'></div>").html(v.cmhtml).appendTo(d2);
								$(comments).append(d1);
							});
						} else {
							$("<p>都让让，神评都是你的</p>").appendTo(comments);
						}

						layui.use(['laypage', 'layer'], function () {
							var laypage = layui.laypage,
								layer = layui.layer;
							//完整功能
							laypage.render({
								elem: 'demo7'
								, count:d.total
								, curr: curr
								, layout: ['prev', 'page', 'next', 'skip']
								, jump: function (obj, first) {
									//alert(obj.curr)
									curr = obj.curr;
									if (!first) {
										GetDate(obj.curr);

									}
								}
							});
						})
					}


				});
			}
			//富文本框
				layui.use('layedit', function () {
					var layedit = layui.layedit;
					var index = layedit.build('demo', {
						height: 180,
						hideTool: ['image']
					}); //建立编辑器


					$(":button").click(function () {
						//alert(layedit.getText(index));
						if (layedit.getContent(index) == null || layedit.getContent(index) == "") {
							layer.msg("您还未输入评论哦");
						} else {
							$.post("/Index/AddComment", { "aid":@Request.QueryString["aid"], "cmhtml": layedit.getContent(index) }, function (d) {

								if (d.state == true) {
									GetDate(pageval);

								} else {
									layer.msg(d.message);
								}

							});
						}
					});

				});
			$("#alogin").click(function () {

				layui.use('layer', function () {
					var layer = layui.layer;
					layer.open({
						type: 1,
						content: $('#d1'),
						anim: 2,
						area: ['400px', '300px'],
						title: "登录",
						btnAlign: 'c',
						btn: ['确认', '取消'],
						yes: function (index, layero) {
							//alert($("#uname1").val()+""+$("#upwd").val());
							$.post("/Index/login", { "uname": $("#uname1").val(), "upwd": $("#upwd").val() }, function (d) {
								
								if (d.state == true) {
									
									layer.msg(d.message);
									window.location.reload();
									
									//history.back();
								} else {
									layer.msg(d.message);

								}
							});
						 }
					})

				});
			});

		})
	
	</script>
}