@using Model
@{
	Layout = null;
}



<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8" />
	<link href="~/Areas/Admin/easyui/1.5.2/themes/default/easyui.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/wu.css" rel="stylesheet" />
	<link href="~/Areas/Admin/css/icon.css" rel="stylesheet" />
	<script src="~/Areas/Admin/js/jquery-1.10.2.js"></script>
	<script src="~/Areas/Admin/js/common.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/jquery.easyui.min.js"></script>
	<script src="~/Areas/Admin/easyui/1.5.2/locale/easyui-lang-zh_CN.js"></script>
	<link href="~/Areas/Admin/layui/css/layui.css" rel="stylesheet" />
	<script src="~/Areas/Admin/layui/layui.js"></script>
</head>
<body>
	<div style="margin:20px 0;"></div>
	<div title="添加文章" style="width:98%;padding:30px 60px;" class="easyui-panel">
		<form id="ff" class="easyui-form" method="post" data-options="novalidate:true">
			<div style="margin-bottom:20px">
				<input name="title" id="title" data-options="label:'标题:',required:true" required="required" class="easyui-textbox" style="width:100%;max-width:400px;">
			</div>
			<div style="margin-bottom:20px">
				<select name="cid" id="cid" data-options="label:'所属栏目:',editable:false,required:true" class="easyui-combobox" style="width:100%;max-width:400px;">
					@foreach (var item in Model)
					{
						<option value="@item.cid">@item.ctitle</option>
					}
				</select>
			</div>
			<div style="margin-bottom:20px">
				<input name="author" id="author" data-options="label:'作者:'" required="required" class="easyui-textbox" style="width:100%;max-width:400px;">
			</div>
			<div style="margin-bottom:20px">
				<input type="text" value="" name="uid" id="uid" style="display:none" />
				<input name="nname" data-options="label:'发布人:'" value="@((Session["admin"] as CMS_User).nname)" readonly class="easyui-textbox" style="width:100%;max-width:400px;">
			</div>
			<div style="margin-bottom:20px">
				<input type="checkbox" name="istop" id="istop" data-options="label:'置顶:'" class="easyui-textbox" style="width:120px">
			</div>
			<div style="margin-bottom:20px">
				文章内容: <span id="editor_error" style="color:red;display:none;">文章内容为必填项！</span>
			</div>
			<textarea style="margin-bottom:20px" name="ahtml" id="ahtml" class="layui-textarea" lay-verify="content">
				
			</textarea>
		</form>
		<div style="text-align:center;padding:5px 0">
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm(1)" style="width:120px" data-options="iconCls:'icon-save'">存为草稿</a>
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm(2)" style="width:120px" data-options="iconCls:'icon-save'">发布</a>
		</div>
	</div>
	<script>

		$(function () {
			//$("#cid").combobox({
			//	url: "GetCategory",
			//	valueField: 'cid',
			//	textField: 'ctitle'
			//});
			clearForm();

			layui.use('layedit', function () {
				//var form = layui.form;
				var layedit = layui.layedit;
				var index = layedit.build('ahtml', { //建立编辑器
					tool: [
						'strong' //加粗
						, 'italic' //斜体
						, 'underline' //下划线
						, 'del' //删除线
						, '|' //分割线
						, 'left' //左对齐
						, 'center' //居中对齐
						, 'right' //右对齐
						, 'face'//表情
					]
				});
				//form.verify({layui富文本框、文本域内容同步
				//	content: function () {
				//		return layedit.sync(index);
				//	}
				//});
				$("a").eq(1).click(function () {
					if ($("#title").val() == "") {
						layer.msg("请输入文章标题");
						return;
					}

					if ($("#cid option:selected").text() == "") {
						layer.msg("请选择文章栏目");
						return;
					}
					if ($("#author").val() == "") {
						layer.msg("请输入文章作者");
						return;
					}
					if (layedit.getContent(index) == "") {
						layer.msg("请输入文章内容");
						return;
					}
					var ls = {
						"title": $("#title").val(),
						"cid": $("#cid option:selected").val(),
						"author": $("#author").val(),
						"istop": $('#istop').is(':checked') ? 1 : 0,
						"uid": @((Session["admin"] as CMS_User).uid),
						"ahtml": layedit.getContent(index),
						"state": 1
					};
					layer.alert(JSON.stringify(ls));
					//$.post("AddArt", { "u": ls, }, function (d) {
					//	if (d > 0) {
					//		$.messager.alert('信息提示', '文章已保存草稿', 'info');
					//	} else {
					//		$.messager.alert('信息提示', '请稍后重试', 'info');
					//	}
					//})
				});
				$("a").eq(2).click(function () {
					var ls = {
						"title": $("#title").val(),
						"cid": $("#cid option:selected").val(),
						"author": $("#author").val(),
						"uid": @((Session["admin"] as CMS_User).uid),
						"istop": $('#istop').is(':checked') ? 1 : 0,
						"ahtml": layedit.getContent(index),
						"state": 2
					};
					//alert(JSON.stringify(ls));
					$.post("AddArt", { "u": ls, }, function (d) {
						if (d > 0) {
							$.messager.alert('信息提示', '文章已发布', 'info');
						} else {
							$.messager.alert('信息提示', '请稍后重试', 'info');
						}
					})
				});
			})
		})
		//function submitForm(state) {
		//	$('#ff').form('submit', {
		//		url: "AddArt",
		//		onSubmit: function (ps) {
		//			ps.state = state
		//		},
		//		success: function (d) {


		//		}
		//	});
		//}
		function clearForm() {
			$('#ff').form('clear');
		}
	</script>
</body>
</html>